<header class="head">
   <nav>
      <div>
         <h1>Ernest Haruna</h1>
         <div class="nav-list">
            <a href="#projects">Project</a>
            <a href="#connect">Connect</a>
            <a href="https://github.com/ernestharuna/ernest-portfolio" target="_blank" rel="noopener">Code</a>
         </div>
         <div class="toggler" (click)="myfunc()">⚙</div>
      </div>
   </nav>
</header>

<!-- nav for mobile devices -->
<section [ngClass]="{show: toggle}">
   <div class="lower-nav">
      <span class="item"><a href="#top">🎈</a></span>
      <span class="item"><a href="#projects">Project</a></span>
      <span class="item"><a href="#connect">Connect</a></span>
      <span class="item"><a href="https://github.com/ernestharuna/ernest-portfolio" target="_blank" rel="noopener">Code</a></span>
      <span class="item"><a href="#top">🎈</a></span>
   </div>
</section>