header {
   background-color: rgba(255, 255, 255, 0.1) !important;
   border: 0px solid rgba(255, 255, 255, 0.5);
   border-radius: 15px;
   backdrop-filter: blur(20px);
   border: 1px solid rgb(62, 61, 61);
   margin: 0 50px;
   margin-top: 3%;
   padding: 15px 40px;
   color: white;
   position: sticky;
   top: 20px;
   z-index: 2;
}

h1 {
   font-size: 18px;
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
}

nav>div {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.lower-nav,
section {
   display: none;
}

a {
   display: inline-block;
   margin-right: 20px;
   text-decoration: none;
   color: beige;
}

.toggler {
   display: none;
}

.hidder {
   display: none;
   animation: ghost 2s ease-in-out infinite;
}

@keyframes ghost {
   0% {
      opacity: 0;
   }
   50% {
      opacity: 0.5;
   }
   100% {
      opacity: 1;
   }
}

@media screen and (max-width: 760px) {
   header {
      margin: 0 20px;
      padding: 15px 20px;
      position: sticky;
      top: 20px;
   }

   .toggler {
      display: block;
   }

   .nav-list {
      display: none;
   }

   section {
      display: inline-block;
      position: fixed;
      bottom: 10px;
      width: 100%;
      z-index: 3;
   }

   .lower-nav {
      width: 90%;
      position: relative;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: rgba(255, 255, 255, 0.1) !important;
      border: 0px solid rgba(255, 255, 255, 0.5);
      border: 1px solid rgb(62, 61, 61);
      border-radius: 15px;
      backdrop-filter: blur(20px);
      padding: 15px 40px;
      color: white;
   }

   .lower-nav .item {
      display: inline-block;
   }
}