<section>
   <h3 class="text-light">
      Take a look at my work! 😎
   </h3>
   <p class="text-light">
      Here are a few projects I've built from scratch . . . <br>
      I've hosted some of these on <b>Github Pages</b> <br>
      In these I am well pleased 😊 <br>
   </p>
   <div class="contain">
      <div class="card">
         <div class="content">
            <h2>01</h2>
            <h3>Project One</h3>
            <p>
               This here is a simple To-do web application created with Angular <br>
               It's functionalities are basic.
            </p>
            <a href="wwww.github.com/ernestharuna/" target="_blank" rel="noopener">View</a>
         </div>
      </div>
      <div class="card">
         <div class="content">
            <h2>02</h2>
            <h3>Project Two</h3>
            <p>
               This is a management system for companies to track their employeees <br>
               This is still under work, review and constant update.
            </p>
            <a href="#" target="_blank" rel="noopener">View</a>
         </div>
      </div>
      <div class="card">
         <div class="content">
            <h2>03</h2>
            <h3>Project Three</h3>
            <p>
               This here is a PHP project. It Reads the content of 2 CSV files into a data base (MySQL) <br>
               For this project, you can only access the Source code.
            </p>
            <a href="https://github.com/ernestharuna/agpay-project" target="_blank" rel="noopener">View</a>
         </div>
      </div>
      <div class="card">
         <div class="content">
            <h2>04</h2>
            <h3>Project Four</h3>
            <p>
               Coming Soon!
            </p>
            <a href="#" target="_blank" rel="noopener">Read more</a>
         </div>
      </div>
   </div>
</section>