<section>
   <h3 class="text-light">
      Take a look at my work! 😎
   </h3>
   <p class="text-light">
      Here are a few projects I've built from scratch . . . <br>
      I've hosted some of these on <b>Github Pages</b> <br>
      In these, I am well pleased 😊 <br>
   </p>
   <br>
   <br>
   <p class="text-light">
      And just a little brag of my skillset and technologies I've worked with . . . 😏😋
   </p>
   <div class="skills">
      <img src="assets/html.svg" alt="html icon" title="HTML5">
      <img src="assets/css.svg" alt="css icon" title="CSS3">
      <img src="assets/scss.svg" alt="sass icon" title="SCSS">
      <img src="assets/angular.svg" alt="angular icon" title="Angular 2+">
      <img src="assets/js.svg" alt="javascript icon" title="JavaScript">
      <img src="assets/ts.svg" alt="typescript icon" title="TypeScript">
      <img src="assets/php.svg" alt="php icon" title="PHP">
      <img src="assets/bootstrap.svg" alt="bootstrap icon" title="Bootstrap">
      <img src="assets/git.svg" alt="git icon" title="Git">
      <img src="assets/sql.svg" alt="mysql icon" title="MySQL">
      <img src="assets/jq.svg" alt="jquery icon" title="jQuery">
      <img src="assets/figma.svg" alt="figma icon" title="Figma">
      <img src="assets/node.svg" alt="node icon" title="NodeJS">
      <img src="assets/xampp.svg" alt="xampp icon" title="Xampp">
      <img src="assets/nest.svg" alt="nestjs icon" title="NestJS">
      <img src="assets/vsc.svg" alt="vs-code icon" title="Visual Code Studio">
   </div>
   <div class="contain">
      <div class="card">
         <div class="content">
            <h2>01</h2>
            <h3>Web Game</h3>
            <p>
               Play with friends! Try out my web based Tic-tac-toe game you can play with your friends. <br>
               Created with JavaScript!
            </p>
            <a href="https://ernestharuna.github.io/tac-toe-game/" target="_blank" rel="noopener">View project</a>
         </div>
      </div>
      <div class="card">
         <div class="content">
            <h2>02</h2>
            <h3>Management system</h3>
            <p>
               This is a management system for companies to track their employeees <br>
               This is still under work, review and update.
            </p>
            <a href="https://ernestharuna.github.io/EmployeeMS/" target="_blank" rel="noopener">View project</a>
         </div>
      </div>
      <div class="card">
         <div class="content">
            <h2>03</h2>
            <h3>PHP & MySQL</h3>
            <p>
               This here is a PHP project. It Reads the content of 2 CSV files into a data base (MySQL) <br>
               For this project, you can only access the Source code.
            </p>
            <a href="https://github.com/ernestharuna/agpay-project" target="_blank" rel="noopener">View code</a>
         </div>
      </div>
      <div class="card">
         <div class="content">
            <h2>04</h2>
            <h3>Portfolio Website</h3>
            <p>
               Portfolio website for UI/UX designer; Janefrances. This was made without any JavaScript or CSS framework.
               <br>
               If you want a website like this, send a message.
            </p>
            <a href="https://ernestharuna.github.io/jane-frances/" target="_blank" rel="noopener">View project</a>
         </div>
      </div>
      <div class="card">
         <div class="content">
            <h2>05</h2>
            <h3>Project Five</h3>
            <p>
               <b>Coming Soon!</b>
            </p>
            <p>
               Tic-Tac-Toe Project implementing a JavaScript AI
            </p>
            <a href="#" target="_blank" rel="noopener">Coming soon</a>
         </div>
      </div>
      <div class="card">
         <div class="content">
            <h2>06</h2>
            <h3>Project Six</h3>
            <p>
               <b>Coming Soon!</b>
            </p>
            <p>
               Full stack shopping web application built with MongoDB, Express, Angular, and NodeJS (MEAN) stack.
            </p>
            <a href="#" target="_blank" rel="noopener">Coming soon</a>
         </div>
      </div>
   </div>
</section>