<section>
   <h3 class="text-light">
      Take a look at my work! 😎
   </h3>
   <p class="text-light">
      Here are a few projects I've built from scratch . . . <br>
      In these I am well pleased 😊 <br>
   </p>
   <div class="contain">
      <div class="card">
         <div class="content">
            <h2>01</h2>
            <h3>Project One</h3>
            <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, dolor?
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, dolor?
            </p>
            <a href="#">Read more</a>
         </div>
      </div>
      <div class="card">
         <div class="content">
            <h2>02</h2>
            <h3>Project Two</h3>
            <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, dolor?
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, dolor?
            </p>
            <a href="#">Read more</a>
         </div>
      </div>
      <div class="card">
         <div class="content">
            <h2>03</h2>
            <h3>Project Three</h3>
            <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, dolor?
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, dolor?
            </p>
            <a href="#">Read more</a>
         </div>
      </div>
      <div class="card">
         <div class="content">
            <h2>04</h2>
            <h3>Project Four</h3>
            <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, dolor?
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, dolor?
            </p>
            <a href="#">Read more</a>
         </div>
      </div>
   </div>
</section>