<section id="top" class="first">
   <div>
      <h2>
         I <span class="heart">❤</span> innovative <br> <span class="gradient-bg">tech solutions</span> that solve <br>
         problems.
      </h2>
      <a href="#projects" class="text-light my-5 proj">VIEW PROJECTS</a>
   </div>
   <div>
      <span class="ani">⚙</span>
   </div>
</section>

<section class="second">
   <div class="my-5">
      <h3>Hello visitor! <span class="wavy">👋🏽</span></h3>
      <p>
         My name is Ernest Haruna and I'm a software developer, <br>
         passionate about digital products that help people experience everyday life, not endure it.
      </p>
   </div>

   <div>
      <p>
         I am currently an undergraduate student studying Computer Science at <br>
         Ahmadu Bello University, Zaria!
      </p>
   </div>

   <div class="my-5 text-end">
      <h3>
         Something about me <span class="wavy">🎉</span>
      </h3>
      <p>
         I'm a software developer with focus in frontend web developement. I ❤ designs!! <br>
         I create designs that are simplistic, yet mesmerising.
      </p>
      <p>
         I'm also a fine pianist and an experienced tutor of music and piano artistry.
      </p>
   </div>
</section>

<app-projects id="projects"></app-projects>
<!-- comment  -->
<section>
   <div>
      <h3>
         Do you like my portfolio❓
      </h3>
      <p>
         Please do well to drop a comment
         <a href="https://twitter.com/MisterrHaruna" target="_blank" rel="noopener" class="other">here</a> .
         <br>You can find the source code of this Portfolio <a href="https://github.com/ernestharuna/ernest-portfolio"
            target="_blank" rel="noopener" class="other" id="code">here</a> .
         <br>This portfolio was made using Angular, SCSS, and a tiny-swinsey little touch of bootstrap 😁.
      </p>
   </div>
</section>
<!-- connect section -->
<section>
   <div>
      <h3 id="connect">
         Let's connect. <span class="wavy">📞</span>
      </h3>
      <p>
         Please feel free to send me a message on any platform you find me. <br>
         I'm friendly and I love to meet new poeple 🙂.
      </p>
      <p>
         I'm open to new opportunites and I'm open to work on new ideas.
      </p>
   </div>
   <div>
      <span class="connect-icon">
         <a target="_blank" rel="noopener" href="https://twitter.com/MisterrHaruna">
            <i class="bi bi-twitter"></i>
         </a>
      </span>
      <span class="connect-icon">
         <a target="_blank" rel="noopener" href="https://www.facebook.com/profile.php?id=100063143977065">
            <i class="bi bi-facebook"></i>
         </a>
      </span>
      <span class="connect-icon">
         <a target="_blank" rel="noopener" href="http://www.linkedin.com/in/ernest-haruna">
            <i class="bi bi-linkedin"></i>
         </a>
      </span>
      <span class="connect-icon">
         <a target="_blank" rel="noopener" href="https://wa.me/message/YTN3LW4BSF6DC1">
            <i class="bi bi-whatsapp"></i>
         </a>
      </span>
      <span class="connect-icon">
         <a target="_blank" rel="noopener" href="https://github.com/ernestharuna/">
            <i class="bi bi-github"></i>
         </a>
      </span>
   </div>
</section>
<section class="last-section text-end">
   <div>
      <h3>
         Call or email? Great idea!.
      </h3>
      <p>
         Remember to be polite and introduce yourself 😁 <br>
         <a class="other my-3" href="tel:08183670422">Call me here</a> ---
         <a class="other my-3" href="mailto:ernestharuna1@gmail.com?subject=ENQUIRIES&body=Hi Ernest">Send an Email</a>
      </p>
   </div>
</section>