<section class="first">
   <div>
      <h2>
         I <span class="heart">❤</span> innovative <br> <span class="gradient-bg">tech solutions</span> that solve <br>
         problems.
      </h2>
      <a href="#" class="text-light my-5 proj">VIEW PROJECTS</a>
   </div>
   <div>
      <span class="ani">⚙</span>
   </div>
</section>

<section class="second">
   <div class="my-5">
      <h3>Hello visitor! 👋🏽</h3>
      <p>
         My name is Ernest Haruna and I'm a software developer, <br>
         passionate about digital products that help people experience everyday life, not endure it.
      </p>
   </div>

   <div>
      <p>
         I am currently an undergraduate student studying Computer Science at <br>
         Ahmadu Bello University, Zaria!
      </p>
   </div>

   <div class="my-5 text-end">
      <h3>
         My proficiencies 🛠
      </h3>
      <p>
         I focus on frontend web developement, because I ❤ designs. <br>
         I'd spend so much time figuring out the best of designs that are most mesmerising.
      </p>
      <p>
         I'm experienced in using HTML, CSS, SCSS, JavaScript, and TypeScript. <br>
         And Yes! let's not forget frameworks. For JavaScript, I use Angular, and for CSS, I use Bootstrap. <br>
         I know a lot of PHP, I had to learn it one time during my internship 😂, it's syntax is similar to JavaScript.
      </p>
      <p>

      </p>
   </div>
</section>

<app-projects id="projects"></app-projects>
<!-- comment  -->
<section>
   <div>
      <h3>
         Do you like my portfolio?
      </h3>
      <p>
         If you enjoyed going through my portfolio, please do well to drop a comment
         <a href="https://twitter.com/Mister__Ernesto?s=09" class="other">here</a> .
         <br>If you wanna see my <b>soure code</b>, you'd find that
         <a href="https://github.com/Ernesto-da-great/ernest-portfolio" class="other">here</a> .
         <br>This project was made using Angular, SCSS, and a tiny winsey little touch of bootstrap 😁.
      </p>
   </div>
</section>
<!-- connect section -->
<section>
   <div>
      <h3 id="connect">
         Let's connect.
      </h3>
      <p>
         Please feel free to send me a message on any platform you find me. <br>
         I'm friendly and I love to meet new poeple 🙂.
      </p>
      <p>
         I'm open to new opportunites and I'm open to work on new ideas.
      </p>
   </div>
   <div>
      <span class="connect-icon">
         <a href="https://twitter.com/Mister__Ernesto?s=09">
            <i class="bi bi-twitter"></i>
         </a>
      </span>
      <span class="connect-icon">
         <a href="https://www.facebook.com/profile.php?id=100063143977065">
            <i class="bi bi-facebook"></i>
         </a>
      </span>
      <span class="connect-icon">
         <a href="http://www.linkedin.com/in/ernest-haruna">
            <i class="bi bi-linkedin"></i>
         </a>
      </span>
      <span class="connect-icon">
         <a href="wa.me/qr/O7UA03CNUTVTM1">
            <i class="bi bi-whatsapp"></i>
         </a>
      </span>
   </div>
</section>
<section class="last-section text-end">
   <div>
      <h3>
         Call or email? Great idea!.
      </h3>
      <p>
         Remember to be polite and introduce yourself 😁 <br>
         <a class="other my-3" href="tel:08183670422">Call me here</a> ---
         <a class="other my-3" href="mailto:ernestharuna1@gmail.com?subject=ENQUIRIES&body=Hi Ernest">Send an Email</a>
      </p>
   </div>
</section>